header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

textarea {
  font-size: 1.2rem;
  line-height: 1.6rem;
}

#gramatic,
#output {
  margin-top: 25px;
}
