.spacer {
  flex: 1 1 auto;
}

::ng-deep {
  mat-toolbar {
    padding: 0 35px !important;
  }
}

#wrapper {
  margin: 25px;
  padding: 25px;
  box-sizing: border-box;
  min-height: calc(100vh - 114px);
}
